body {
    background-color: rgb(167, 249, 197);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0em;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%;  
}
.board {
    height: 600px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.board .row1 {
    width: 600px;
    flex-grow: 1;
    display: flex;
}
.board .row1 .boxH {
    background-color: rgb(187, 153, 77);
    min-width: 50px;
    flex-basis: auto;
    flex-grow: 1;
    
    
}